/* Style de base et Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#home-container{
  margin-top: -5em;
}

#home-container p {
  color: #45a049;
  font-weight: bold;
}

body {
  font-family: Arial, sans-serif;
  background-color: #0f0f0f;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url(apples.webp);
  background-size: 250%; /* Réduit la taille de l'image à 50% */
  background-repeat: no-repeat; /* Évite que l'image se répète */
  background-position: center; /* Centre l'image dans la page */
}



/* Conteneur principal */
.container {
  width: 100%;
  max-width: 600px;
  margin-top: 20px;
  padding: 20px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

/* Style des boutons */
button, .link-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 10px 0;
  text-align: center;
  text-decoration: none;
}

button:hover, .link-button:hover {
  background-color: #45a049;
}

#quiz.container{
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  max-width: 600px;
  width: 90%;
  text-align: center;
  margin: 20px;
}

#quiz-container h1 {
  font-size: 2.5em;
  color: #ffffff;
  margin-bottom: 20px;
}

#question-container {
  margin: 1em;
}
#question-container h2 {
  font-size: 1.5em;
  margin-bottom: 15px;
  color: #ffffff;
  text-align: center;
}

#question-container h3{
  text-align: center;
  color: rgb(255, 115, 0);
}


/* Style des boutons de réponse */
.choice-button {
  background-color: #f0f0f0;
  color: #333;
  border: 2px solid #ccc;
  padding: 10px 15px;
  margin: 10px 0;
  width: 100%;
  border-radius: 5px;
  font-size: 1.1em;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.choice-button:hover {
  background-color: #d9f1d3;
}

.choice-button.selected {
  background-color: #4CAF50;
  color: white;
  border: 2px solid #388E3C;
}

/* Style des boutons de navigation */
#prev-button, #next-button {
  padding: 12px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 15px 10px;
  min-width: 100px;
}

#prev-button:hover, #next-button:hover {
  background-color: #388E3C;
}

#quiz-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* Style des résultats */
#quiz-container .results-container h2 {
  color: #4CAF50;
  font-size: 2em;
  margin-bottom: 15px;
}

#quiz-container .results-container p {
  font-size: 1.25em;
  color: #555;
  text-align: center;
}

#quiz-container .results-container ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
  margin-top: 15px;
}

#quiz-container .results-container ul li {
  color: rgb(255, 115, 0);
  font-size: 1em;
  padding: 5px 0;
  border-bottom: 1px solid #ddd;
}

/* Lien vers la page d'accueil */
.return-home {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.return-home:hover {
  background-color: #388E3C;
}
.quiz-buttons {
  display: flex;
  padding-inline: 5em;
  flex-direction: column;
  justify-content: center;
  margin-top: 10px;
}


/* Style des titres */
h1, h2 {
  text-align: center;
  color: #2196F3;
  margin-bottom: 15px;
}
h1 {
  color: #ffffff;
  margin-top: 1em;
  font-size: 2em;
  text-shadow: #2196F3 1px 1px 6px ;
}

h2 {
  font-size: 1.5em;
}

/* Texte de description */
p {
  font-size: 1em;
  line-height: 1.6;
  margin-bottom: 15px;
  color: #E64A19;
}

/* Conteneur des saisons en cercle responsive */
.seasons-container {
  position: relative;
  width: 80vw;   /* Taille en fonction de la largeur de l'écran */
  max-width: 500px; /* Taille maximale pour les écrans plus grands */
  height: 80vw;
  max-height: 500px;
  border-radius: 35%;
  overflow: hidden;
  margin: 20px auto;
  background-image: url('pommier-saisons.webp');
  background-size: cover;
  background-position: center;
}

/* Quarts de saison */
.season {
  position: absolute;
  width: 50%;
  height: 50%;
  text-align: center;
  line-height: 150px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  transition: transform 0.3s;
  background-color: rgba(0, 0, 0, 0.3);
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
  border-radius: 10px;
}

#spring { top: 0; left: 0; background-color: rgba(76, 175, 80, 0.4); }
#summer { top: 0; right: 0; background-color: rgba(255, 152, 0, 0.4); }
#autumn { bottom: 0; left: 0; background-color: rgba(255, 87, 34, 0.4); }
#winter { bottom: 0; right: 0; background-color: rgba(33, 150, 243, 0.4); }

#spring a,
#summer a {
  font-size: 2em;
  margin-top: 2.5em;
}

.season:hover {
  transform: scale(1.1);
}

/* Lien dans le quart de saison */
.season a {
  display: block;
  height: 100%;
  width: 100%;
  color: white;
  text-decoration: none;
}

.result-buttons {
  display: flex;
  flex-direction: column; /* Affiche les boutons en colonne */
  align-items: center; /* Centre les boutons horizontalement */
  gap: 15px;
  margin-top: 20px;
}

.resolve-enigma, .return-home {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 150px;
  height: 40px;
  transition: background-color 0.3s;
}

.resolve-enigma:hover, .return-home:hover {
  background-color: #388E3C;
}




#home-container p {
  text-align: center;
}

#enigme-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  max-width: 500px;
  width: 90%;
  margin: 40px auto;
}

#coffre {
  margin: 20px 0;
}

#coffre img {
  width: 200px;
  height: auto;
}

input#code-input {
  padding: 10px;
  font-size: 1.2em;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

button#check-code-button {
  padding: 10px 20px;
  font-size: 1em;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button#check-code-button:hover {
  background-color: #388E3C;
}

/* Style de la modale */
.modal {
  display: none; /* Masquée par défaut */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fond sombre semi-transparent */
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  width: 90%; /* Largeur de la modale pour petits écrans */
  max-width: 400px; /* Limite de largeur sur les écrans plus grands */
}

.modal-content p {
  color: #333;
  margin-bottom: 15px;
}

#retry-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#retry-button:hover {
  background-color: #388E3C;
}

#success-message {
  font-size: 1.5em;
  color: #4CAF50;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}


/* Style général */
body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #f9f9f9;
}

/* Ici tu peux modifier l'image de fond dans les pages contenant le descrptif des différentes*/
body.ete {
  background-image: url('summer.webp');
  background-size: 200%;
  background-position: -20em;
  background-position-y: 70% ;
}

body.automne {
  background-image: url('autumn.webp');
  background-size: 220%;
  background-position: center;
  background-position-y: 95% ;
}

body.hiver {
  background-image: url('winter.webp');
  background-size: 200%;
  background-position: -10em; 
  background-position-y: 95% ;
}

body.printemps {
  background-image: url('spring.webp');
  background-size: 220%;
  background-position: -18em;
  background-position-y: 99% ;
}


#season-container {
  max-width: 800px;
  margin: auto;
  text-align: center;
}

/* Disposition des boutons pour chaque saison */

/* Par défaut, les boutons sont disposés en colonne et centrés */
#buttons-container {
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

/* Pour l'été : disposition horizontale des boutons */
body.ete #buttons-container {
  flex-direction: row; /* Les boutons sont disposés horizontalement */
  justify-content: space-around; /* Espacement égal entre les boutons */
  padding: 10px;
}

/* Pour l'automne : disposition en colonne avec alignement à gauche */
body.automne #buttons-container {
  flex-direction: row; /* Les boutons sont disposés horizontalement */
  justify-content: space-around; /* Espacement égal entre les boutons */
  padding: 10px;
}

/* Pour l'hiver : disposition horizontale avec un fond léger */
body.hiver #buttons-container {
  flex-direction: column;
  justify-content: space-evenly; /* Espacement égal entre les boutons */
  padding: 20px;
  text-align: end;
}

/* Pour déplacer un bouton individuellement */
body.hiver #buttons-container button:first-child {
margin-right: 10em;
margin-top: -2em;
}

/* Exemple pour déplacer le 3ème bouton */
body.hiver #buttons-container button:nth-child(3) {
  margin-left: 10em;
  margin-top: 5em;
  }

/* Pour le printemps : disposition verticale avec un plus grand espacement */
body.printemps #buttons-container {
  flex-direction: row;
  align-items: left;
  gap: 20px; /* Espacement vertical plus large */
  margin-top: 30px;
}


#buttons-container button:hover {
  background-color: #31b0d5;
}

button {
  margin-top: 20px;
  padding: 10px;
  font-size: 16px;
  background-color: #5bc0de;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 10px;
}

button:hover {
  background-color: #31b0d5;
}

/* Style des modales */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: white;
  margin: 10% auto;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 600px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  overflow-y: auto; /* Permet le défilement si le contenu est trop long */
  max-height: 70vh; /* Limite la hauteur de la modale pour s'adapter aux petits écrans */
  padding-right: 10px; /* Pour éviter que le texte touche les bords */
  position: relative; /* Permet de positionner la croix à l'intérieur de la modale */
}

/* Style pour la croix de fermeture */
.close-btn {
  font-size: 24px;
  color: white; /* Texte de la croix en blanc */
  background-color: #5bc0de; /* Fond bleu similaire aux boutons */
  border: none;
  padding: 4px 10px; /* Un peu d'espace autour de la croix */
  border-radius: 10%; /* Bordure arrondie pour un effet circulaire */
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px; /* Placer la croix un peu plus près du bord */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Effet de survol pour la croix */
.close-btn:hover {
  background-color: #31b0d5; /* Couleur plus foncée au survol */
  color: white; /* Garde la couleur blanche au survol */
}

/* Modales plus détaillées */
.modal-content p {
  line-height: 1.5;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .seasons-container {
    width: 60vw;
    height: 60vw;
  }

  #spring a,
  #summer a {
    font-size: 1em;
    margin-top: 0.1em;
  }

  #winter a,
  #autumn a {
    font-size: 1em;
    margin-top: -1.2em;
  }
  .season {
    font-size: 1.2em;
  }
}
@media (min-width: 1024px) {
  .seasons-container {
    width: 400px;
    height: 400px;
  }
}
